<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="5.0">
  <display-name>Task</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginCtrl</display-name>
    <servlet-name>LoginCtrl</servlet-name>
    <servlet-class>LoginCtrl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginCtrl</servlet-name>
    <url-pattern>/LoginCtrl</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SelectSetCtrl</display-name>
    <servlet-name>SelectSetCtrl</servlet-name>
    <servlet-class>SelectSetCtrl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SelectSetCtrl</servlet-name>
    <url-pattern>/SelectSetCtrl</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegiCtrl</display-name>
    <servlet-name>RegiCtrl</servlet-name>
    <servlet-class>RegiCtrl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegiCtrl</servlet-name>
    <url-pattern>/RegiCtrl</url-pattern>
  </servlet-mapping>
</web-app>